{% extends 'common/base.html' %}
{% load filters %}
{% block content %}
    {% include 'articles/microphones/nav-bar.html' %}
    <section id="car-details">
        <h1>Microphone Details</h1>
        <div class="info-section">
            <div class="car-header">
                <img class="car-img"
                     src="/media/{{ object.image }}"
                     alt='{{ object.model }}'/>
                <h3><span class="description">Model: {{ object.model }}</span></h3>
                <h3><span class="description">Type: {{ object.type }}</span></h3>
                <h3><span class="description">Frequency range: {{ object.frequency }}</span></h3>
                <h3><span class="description">Price: {{ object.price|floatformat:2 }} €</span></h3>
            </div>
            <div class="buttons">
                <a href="{% url 'order' article_name=object|to_class_name pk=object.id user_id=request.user.id  %}" class="delete-button">Buy</a>
                <a href="{% url 'microphone-edit' object.id %}" class="edit-button">Edit</a>
                <a href="{% url 'microphone-delete' object.id %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>

{% endblock %}
