{% extends 'common/base.html' %}
{% block content %}
    {% include 'common/nav-bar.html' %}
    <section id="register-page" class="content auth">
        <form id="register" action="{% url 'create' %}" method="post">
                <div class="container">
                <div class="brand-logo"></div>
                <h1>Create Profile</h1>
                 {{ form }}
                 {% csrf_token %}

                <input class="btn submit" type="submit" value="Create Profile">
                </div>
        </form>
    </section>

{% endblock %}
