{% extends 'common/base.html' %}
{% load filters %}
{% block content %}
    {% include 'articles/drums/nav-bar.html' %}
    <section id="car-details">
        <h1>Drum Set Details</h1>
        <div class="info-section">
            <div class="car-header">
                <img class="car-img"
                     src="/media/{{ object.image }}"
                     alt='{{ object.model }}'/>
                <h3><span class="description">Model: {{ object.model }}</span></h3>
                <h3><span class="description">Bass: {{ object.bass }}</span></h3>
                <h3><span class="description">Floor: {{ object.floor }}</span></h3>
                {% if object.first_tom %}
                    <h3><span class="description">First tom: {{ object.first_tom }}</span></h3>
                {% endif %}
                {% if object.second_tom %}
                    <h3><span class="description">Second tom: {{ object.second_tom }}</span></h3>
                {% endif %}
                {% if object.third_tom %}
                    <h3><span class="description">Third tom: {{ object.third_tom }}</span></h3>
                {% endif %}
                <h3><span class="description">Body material: {{ object.body_material }}</span></h3>
                <h3><span class="description">Price: {{ object.price|floatformat:2 }} €</span></h3>
            </div>
            <div class="buttons">
                <a href="{% url 'order' article_name=object|to_class_name pk=object.id user_id=request.user.id  %}" class="delete-button">Buy</a>
                <a href="{% url 'drums-edit' object.id %}" class="edit-button">Edit</a>
                <a href="{% url 'drums-delete' object.id %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>

{% endblock %}
