<header>

        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'index' %}"><span>M</span>usic <span>S</span>tore</a></h1>
        <nav>
                <a>**********</a>
                <a href="{% url 'guitars-catalog' %}">Guitars And Basses</a>
                <a href="{% url 'drums-catalog' %}">Drum Sets</a>
                <a href="{% url 'keyboards-catalog' %}">Keyboards</a>
                <a href="{% url 'microphones-catalog' %}">Microphones</a>
                <a href="{% url 'accessories-catalog' %}">Accessories</a>
                <a>**********</a>

            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser or request.user.is_staff %}
                    <a href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                <a href="{% url 'profile' pk=request.user.pk %}">Profile</a>
                <a href="{% url 'logout' %}">Log Out</a>
                <a>**********</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'orders' %}">Orders</a>

                {% endif %}

            {% else %}
                <a href="{% url 'create' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
                <a>**********</a>

            {% endif %}

        </nav>
    </header>
